<h1>Carrito de Compras</h1>
    <ul id="carrito">
        {{#each productos}}
        <li>
            <strong>{{nombre}}</strong>
            <span>Precio: ${{precio}}</span>
            <span>Cantidad: {{cantidad}}</span>
        </li>
        {{/each}}
    </ul>
