<div class="container-fluid row align-items-center text-center ">
  <img src="{{thumbnails}}" class="card-img-top" height="50%" />
  <aside class="detail-aside col-6">
    <h5 class="text-center">{{title}}</h5>
    <p class="text-center">${{price}}</p>
      
    <button class="btn btn-primary ">
      <Link to="#" class="text-bg-primary">Carrito de Compra</Link>
    </button>

  </aside>

</div>

